*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  hsl(0, 0%, 8%);
    align-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(0, 0%, 12%);
    padding:18px;
    border-radius: 12px;
    flex-direction: column;
    text-align: center;
    width:400px;
}
img{
    border-radius: 75%;
    width: 30%;

    align-self: center;
}
h2{
    color: hsl(0, 0%, 100%);
    margin-top:20px;
}
h3{
    color: hsl(75, 94%, 57%);
    font-size: 18px;
   margin-top: 10px;    
}
p{
    
    color:hsl(0, 0%, 94%);
    font-size: 17px;
    margin-top:20px;
    margin-bottom: 10px;
    color:rgb(204, 217, 236);
}
.box{
    background-color: hsl(0, 0%, 20%);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 14px;

}
.box a{
    color:white;
    font-size: 16px;
    text-decoration: none;
}
.box a:hover{
    color:aquamarine;
}